/*
/*
* Globals
*/

/* Links */
a,
a:focus,
a:hover {
	color: #fff;
	text-decoration: none;
}

/* BUTTONS */
.btn-default,
.btn-default:hover,
.btn-default:focus {
	color: #v;
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: #fff;
	border: 1px solid #fff;
}

.nav-btn-main-wrapper{
	display: inline-block;
	padding: 5px;
	width: 160px;
}

.nav-btn-thumb{
	max-width: 80px;
	padding-top: 15px;
	padding-bottom: 3px;
}

.gender-btn-thumb{
	max-width: 120px;
	padding-top: 15px;
	padding-bottom: 3px;
}

.nav-btn-description{
	font-size: 12px;
	padding:0px;
}

/*
* Base structure
*/

html,
body, .ng-scope {
	height: 100%;
	background-color: #333;
	background: transparent;
	margin:0;
	min-height:100%;
	font-family: 'Open Sans', sans-serif;
}
body {
	color: #fff;
	text-align: center;
	
	text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
	display: table;
	width: 100%;
	height: 100%; 
	min-height: 100%;
}

.packlist-wrapper{
	display: block;
}

.site-wrapper-inner {
	display: table-cell;
	vertical-align: top;
}
.cover-container {
	margin-right: auto;
	margin-left: auto;
}

/* Padding for spacing */
.inner {
	padding-top: 30px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 40px;
}

/*
* Header
*/
.masthead-brand {
	margin-top: 10px;
	margin-bottom: 10px;
}

.masthead-nav > li {
	display: inline-block;
}
.masthead-nav > li + li {
	margin-left: 20px;
}
.masthead-nav > li > a {
	padding-right: 0;
	padding-left: 0;
	font-size: 16px;
	font-weight: bold;
	color: #fff; /* IE8 proofing */
	color: rgba(255,255,255,.75);
	border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
	background-color: transparent;
	border-bottom-color: #a9a9a9;
	border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
	color: #fff;
	border-bottom-color: #fff;
}

@media (min-width: 568px) {
	.masthead-brand {
		float: left;
	}
	.masthead-nav {
		float: right;
	}
}


/*
* Cover
*/

.cover {
	padding: 0 20px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}

.cover-main{
	max-width: 700px;
	padding-left: 30px;
	padding-right: 30px;
}

.cover .btn-lg {
	padding: 10px 20px;
	font-weight: bold;
}

.packlist-cover{
	width: 95%;
	margin-top: 40px;
	border: 0px solid gray;
	border-radius: 10px;
	padding: 15px;
	padding-bottom: 0px;
	background-color: rgba(0, 0, 0, 0.6)
}
.settings-cover{
	padding: 0 20px;
	margin-left: auto;
	margin-right: auto;
	max-width: 650px;
	margin-top: 40px;
	border: 0px solid gray;
	border-radius: 10px;
	padding: 15px;
	background-color: rgba(0, 0, 0, 0.6)
}

/*
* Footer
*/

.mastfoot {
	color: #999; /* IE8 proofing */
	color: rgba(255,255,255,.5);
}
.footer{
	padding-bottom: 10px;
}


/*
* Affix and center
*/

@media (min-width: 568px) {
	/* Pull out the header and footer */
	.masthead {
		position: fixed;
		top: 0;
	}
	.mastfoot {
		position: fixed;
		bottom: 0;
	}
	/* Start the vertical centering */
	.site-wrapper-inner {
		vertical-align: middle;
	}
	/* Handle the widths */
	.masthead,
	.mastfoot,
	.cover-container {
		width: 100%; /* Must be percentage or pixels for horizontal alignment */
	}

	.container{
		width: 190px;
		padding-bottom: 30px;
		padding-left: 15px;
		padding-right: 0px;
	}
}

@media (min-width: 700px){
	.cover{
		min-width:700px;
	}
}

@media (min-width: 992px) {
	.masthead,
	.mastfoot,
	.cover-container {
		width: 90%;
	}

	.container{
		width: 100%;
	}
}

/* CHECKBOXES */
label {
	background:transparent;
	position: relative;
	cursor: pointer;
	padding-left: 25px;
	width: 80%;
	word-wrap: break-word;
	margin-bottom: 0px;
}

label:before {
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	content: "";
	position: absolute;
	left: 0rem;
	width: 20px;
	height: 20px;
	/*border: 3px solid #f2f2f2;*/
	border: 1px solid white;
	border-radius: 3px;
}

input:checked + label {
	color:gray;
	text-decoration: line-through;
	transition: all ease-in-out .3s;
}

input:checked + label:before {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
	height: .75rem;
	border-radius: 0px;
	border: 2px solid #009688;
	border-top-style: none;
	border-right-style: none;
	top:0.4rem;
	width: 1.7rem;
}

input:checked + label:after {

	content: "";
	position: absolute;
	top: -0.125rem;
	left: 0;
	width: 2rem;
	height: 2rem;
	cursor: pointer;
}
/* hide checbox */
[type="checkbox"] {
	position:fixed;
	left:-9999px;
}


.animate-repeat:hover .list-item-btns{
	display:inline;
}

.animate-repeat:hover input:not(:checked) + label{
	font-weight: bold;
	font-size: 15px;
}

#packlist-buttons-container{
	display: inline-block;
	width: 100%;
	text-align: left;

	margin-bottom: 15px;
} 

#packlist-buttons-container > ul{
	margin-bottom: 0px;
	padding-left: 0px;
} 

#list-wrapper{
	padding-right: 0;
	padding-left: 0;
}

#packlist-buttons-filter {
	float: left;
	cursor: pointer;
	padding-left: 0px;
}

#packlist-buttons-filter > li{
	display: inline;
}

#packlist-buttons-filter > li + li{
	margin-left: 0px;
}

#packlist-buttons-filter > li > a {
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 14px;
	color: rgba(255,255,255,.5);
	border: 1px solid transparent;
	text-decoration: none;
}

#packlist-buttons-filter > li > a:hover,
#packlist-buttons-filter > li > a.selected {
	border-color: rgba(255,255,255,.5);
}
#packlist-buttons-filter > li > a.selected{
	border-color: white;
	color: white;
}

#packlist-buttons-clear{
	float: right;
	list-style: none;
	cursor: pointer;
	margin-left: 3px;
	margin-right: 3px;
}

#packlist-buttons-clear > li > a {
	padding-right: 3px;
	padding-left: 3px;
	padding-top: 1px;
	padding-bottom: 1px;
	font-size: 14px;
	color: white;
	text-decoration: none;
}

.list-item-container{
	border:red solid 0px;
	text-align: left;
	background: transparent;
}

.checkbox-container{
	display: inline-block;
	border:solid yellow 0px;
	width: 20px;
	height: 20px;
}

.label-container{
	display: inline-block;
	padding-left: 10px;
	height: 20px;
	position: absolute;
	width: 100%;
}

label .ng-binding{
	margin-top: 0px;
	margin-left:10px;
	margin-bottom: 0px;
}

.ng-binding{
	font-weight: 100;
	padding-bottom: 5px;
}

.h-li{
	font-weight: bold;
	font-size: 18px;
	margin-top: 10px;
}

.wrapper {
	width: 960px;
	margin: 50px auto;
}

input:focus, input[type]:focus {   
	box-shadow: 0 0px 0px inset, 0 0 0px;
	outline: 0 none;
}

.col-md-3{
	padding-left: 0px;
	padding-right: 0px;
}

/*
input[type="text"]
{
	background: transparent;
	border: 1px solid gray;
	height: 30px;
	width: 96%;
	border-radius: 3px;
	color: white;
	padding-left: 5px;
}
*/

::-webkit-input-placeholder {
	font-style: italic;
}
.ng-valid{
	text-align: left;
}

.packlist-btn{
	text-decoration: none;
	background: transparent;
	color: white;
	border-radius: 3px;
}

.packlist-btn.selected,
.clear {
	border: solid 1px white;
}

#filters li {
	display: inline;
}

#filters li a {
	color: inherit;
	margin: 3px;
	padding: 3px 7px;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}

#filters li a.selected,
#filters li a:hover {
	border-color: rgba(175, 47, 47, 0.1);
}

#filters li a.selected {
	border-color: rgba(175, 47, 47, 0.2);
}

#background-image-container{
	width: 100%;
	height: 100%;
	background-image:url("img/cover3.jpg");
	background-position: 50%, 50%;
	background-size: cover;
}

#overlay{
	width: 100%;
	height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.thin {
    font-weight: 200;
}

.awesome {
    clear: both;
    line-height: 1.8;
    text-transform: uppercase;
    font-weight: 800;
    margin-bottom: 0px;
}

#awesome-cover{
	font-size: 55px;
}

.awesome-nav{
	font-size: 32px;
}

#warning-Msg{
	color:darkred;
	height: 30px;
	margin-top: -30px;
	padding-top: 5px;
	font-weight: bolder;
}

/* ANIMATIONS
============================================================================= */

/*	SCALE */

.animate-repeat {
	text-align: left;
}

.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
	-webkit-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-moz-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-ms-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	-o-transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	transition: 400ms cubic-bezier(0.250, 0.250, 0.750, 0.750) all;
	position: relative;
	display: block;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-enter {
    -webkit-transform: scaleY(0);
    -moz-transform: scaleY(0);
    -ms-transform: scaleY(0);
    -o-transform: scaleY(0);
    transform: scaleY(0);
	height: 0px;
	opacity: 0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-enter.ng-enter-active {
    -webkit-transform: scaleY(1);
    -moz-transform: scaleY(1);
    -ms-transform: scaleY(1);
    -o-transform: scaleY(1);
    transform: scaleY(1);
	height: 20px;
	opacity: 1;
}

/* BUTTONS 
============================================================================= */

/*	FLAG & DELETE BUTTONS */

.list-item-btns{
	text-align: right;
	cursor: pointer;
	width: 17px;
	border:1px solid transparent;
}

.delete{
	color: darkred;
	display: none;
}

.flag{
	color: rgba(255,165,0,.3);

}
.enabledflag{
	color: orange;
}


.cbutton {
	position: relative;
	display: inline-block;
	margin: 1em;
	padding: 0;
	border: none;
	background: none;
	color: rgba(255,255,255,0.5);
	font-size: 1.4em;
	overflow: visible;
	-webkit-transition: color 0.7s;
	transition: color 0.7s;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}


/*	RIPPLE EFFECT BUTTONS */


.cbutton.cbuttonclick,
.cbutton:focus {
	outline: none;
	color: white;
}

.cbutton__icon {
	display: block;
}

.cbutton::after {
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -35px 0 0 -35px;
	width: 70px;
	height: 70px;
	border-radius: 50%;
	content: '';
	opacity: 0;
	pointer-events: none;
}

/* Jelena */
.cbutton--effect-jelena::after {
	border: 2px solid rgba(255,255,255,0.5);
}

.cbutton--effect-jelena.cbuttonclick::after {
	-webkit-animation: anim-effect-jelena 0.3s ease-out forwards;
	animation: anim-effect-jelena 0.3s ease-out forwards;
}

@-webkit-keyframes anim-effect-jelena {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(.7, .7, 1);
	}
}

@keyframes anim-effect-jelena {
	0% {
		opacity: 1;
		-webkit-transform: scale3d(0.5, 0.5, 1);
		transform: scale3d(0.5, 0.5, 1);
	}
	to {
		opacity: 0;
		-webkit-transform: scale3d(1.2, 1.2, 1);
		transform: scale3d(.7, .7, 1);
	}
}



/* Component Start */

/* To change color of top border */
#topBorderInput::before{
	border-top: 1px solid rgba(105,105,105,.3);
}
.inputharuki {
	width: 95%;
	position: relative;
	z-index: 1;
	display: inline-block;
}

.input__field {
	float: right;
	border: none;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__field:focus {
	outline: none;
}

.input__label {
	padding: 0 1em;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.input__label-content {
	display: block;
	padding: .3em 0;
	font-weight: normal;
	color: gray;
	font-style: italic;
}




/* Individual styles */

/* Haruki */

.input--haruki {
	margin-top: 10px;
	margin-left: 0;
	float: left;
}

.input__field--haruki {
	padding: 0.3em 0.25em;
	width: 100%;
	background: transparent;
	color: white;

}

.input__label--haruki {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
}

.input__label-content--haruki {
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--haruki::before,
.input__label--haruki::after {
	content: '';
	position: absolute;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 1px;
	border-width: 0px;
	border-top: 1px solid rgba(105,105,105,.3);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.input__label--haruki::before {
	top: 0;
}

.input__label--haruki::after {

}

.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki {
	-webkit-transform: translate3d(0, 110%, 0);
	transform: translate3d(0, 110%, 0);
}

.input__field--haruki:focus + .input__label--haruki::before,
.input--filled .input__label--haruki::before {
	-webkit-transform: translate3d(0, -0.3em, 0);
	transform: translate3d(0, -0.3em, 0);
}

.input__field--haruki:focus + .input__label--haruki::after,
.input--filled .input__label--haruki::after {
	-webkit-transform: translate3d(0, 0.3em, 0);
	transform: translate3d(0, 0.3em, 0);
}

.input--filled {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}

/* SEARCH */

.input--search {
	float: right;
	width: 106px;
	height: 20px;
	margin-right: 6px;
}

.input__field--search {
	padding: 0em 0em;
	width: 100%;
	background: transparent;
	color: white;
	padding-left: 6px;
	float: right;
	border: none;
	-webkit-appearance: none; /* for box shadows to show on iOS */
}

.input__label--search {
	position: absolute;
	width: 100%;
	text-align: left;
	pointer-events: none;
	padding: 0px;
}

.input__label--search::before {
	z-index: -1; /* To hide box */
	width: 100px;
}

.input__label-content--search {
	color: gray;
	display: block;
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	padding-left: 2px;
	font-style: italic;
}


.bottom-border{
	height: 2px;
	width: 100px;
	background: gray;
	-webkit-transform: scale3d(1, .5, 1);
	transform: scale3d(1, .5, 1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
	margin-top: -3px;
}

.input__field--search:focus + .top-left-right-borders .input__label--search .bottom-border {
	background-color: white;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

/* KEEP BIGGER BOTTOM BORDER IF HAS SEARCH QUERY */
.bottom-border-after{
	height: 2px;
	background-color: white;
	-webkit-transform: scale3d(1, 1, 1);
	transform: scale3d(1, 1, 1);
	-webkit-transform-origin: 50% 100%;
	transform-origin: 50% 100%;
}

/* MOVE LABEL */
.input__field--search:focus + .top-left-right-borders .input__label--search .input__label-content--search,
.input--filled .input__label-content--search {
	-webkit-transform: translate3d(0, 100%, 0);
	transform: translate3d(0, 100%, 0);
	z-index: 11;
}

.input--filled {
	opacity: 1;
	-webkit-transition-delay: 0.3s;
	transition-delay: 0.3s;
}


.top-left-right-borders{
	background-color: transparent;
	width: 108px;
	height: 20px;
	border-radius: 3px;
	border: 1px solid gray;
	padding-left: 3px;
}

.input__field--search:focus + .top-left-right-borders{
	border-color: transparent;
}

.top-left-right-borders-after{
	border-color: transparent;
}

@font-face {
	font-family: 'ecoicon';
	src:url('../icons/ecoicons/ecoicon.eot');
	src:url('../icons/ecoicons/ecoicon.eot?#iefix') format('embedded-opentype'),
		url('../icons/ecoicons/ecoicon.woff') format('woff'),
		url('../icons/ecoicons/ecoicon.ttf') format('truetype'),
		url('../icons/ecoicons/ecoicon.svg#ecoicon') format('svg');
	font-weight: normal;
	font-style: normal;
}

.hi-icon-wrap {
	text-align: center;
	margin: 0 auto;
	padding: 2em 0 3em;
	text-shadow: none;
}



.hi-icon {
	display: inline-block;
	font-size: 0px;
	cursor: pointer;
	margin: 15px 30px;
	width: 80px;
	height: 80px;
	border-radius: 50%;
	text-align: center;
	position: relative;
	z-index: 1;
	color: #fff;
}

.hi-icon:after {
	pointer-events: none;
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
}

.hi-icon:before {
	font-family: 'ecoicon';
	speak: none;
	font-size: 48px;
	line-height: 90px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	display: block;
	-webkit-font-smoothing: antialiased;
}

.hi-icon-mobile:before {
	content: "\e009";
}

.hi-icon-screen:before {
	content: "\e00a";
}

.hi-icon-earth:before {
	content: "\e002";
}

.hi-icon-support:before {
	content: "\e000";
}

.hi-icon-locked:before {
	content: "\e001";
}

.hi-icon-cog:before {
	content: "\e003";
}

.hi-icon-clock:before {
	content: "\e004";
}

.hi-icon-videos:before {
	content: "\e005";
}

.hi-icon-list:before {
	content: "\e006";
}

.hi-icon-refresh:before {
	content: "\e007";
}

.hi-icon-images:before {
	content: "\e008";
}

.hi-icon-pencil:before {
	content: "\e00b";
}

.hi-icon-link:before {
	content: "\e00c";
}

.hi-icon-mail:before {
	content: "\e00d";
}

.hi-icon-location:before {
	content: "\e00e";
}

.hi-icon-archive:before {
	content: "\e00f";
}

.hi-icon-chat:before {
	content: "\e010";
}

.hi-icon-bookmark:before {
	content: "\e011";
}

.hi-icon-user:before {
	content: "\e012";
}

.hi-icon-contract:before {
	content: "\e013";
}

.hi-icon-star:before {
	content: "\e014";
}

/* Effect 1 */
.hi-icon-effect-1 .hi-icon {
	background: rgba(255,255,255,0.1);
	-webkit-transition: background 0.2s, color 0.2s;
	-moz-transition: background 0.2s, color 0.2s;
	transition: background 0.2s, color 0.2s;
}

.hi-icon-effect-1 .hi-icon:after {
	top: -7px;
	left: -7px;
	padding: 7px;
	box-shadow: 0 0 0 4px #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.2s;
	-webkit-transform: scale(.8);
	-moz-transition: -moz-transform 0.2s, opacity 0.2s;
	-moz-transform: scale(.8);
	-ms-transform: scale(.8);
	transition: transform 0.2s, opacity 0.2s;
	transform: scale(.8);
	opacity: 0;
}

/* Effect 1a */
.hi-icon-effect-1a .hi-icon:hover,
.hi-icon-effect-1a .nav-btn-selected {
	background: rgba(255,255,255,1);
	color: #41ab6b;
	color: #428bca;
	color: rgba(42,44,53,1);
}

.hi-icon-effect-1a .hi-icon:hover:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

.nav-icon{
	height: 48px;
	width: 48px;
	margin-top: 16px;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
}

.male {
  width: 48px;
  height: 48px;
  display: inline-block;
  
  -webkit-mask: url(icons/male.svg) no-repeat 50% 50%;
  mask: url(icons/male.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: white;
}

.female {
  width: 48px;
  height: 48px;
  display: inline-block;
  
  -webkit-mask: url(icons/female.svg) no-repeat 50% 50%;
  mask: url(icons/female.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: white;
}

.summer {
  width: 48px;
  height: 48px;
  display: inline-block;
  
  -webkit-mask: url(icons/summer.svg) no-repeat 50% 50%;
  mask: url(icons/summer.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: white;
}

.winter {
  width: 48px;
  height: 48px;
  display: inline-block;
  
  -webkit-mask: url(icons/winter.svg) no-repeat 50% 50%;
  mask: url(icons/winter.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: white;
}

.city {
  width: 48px;
  height: 48px;
  display: inline-block;
  
  -webkit-mask: url(icons/city.svg) no-repeat 50% 50%;
  mask: url(icons/city.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: white;
}

.empty-list {
  width: 48px;
  height: 48px;
  display: inline-block;
  
  -webkit-mask: url(icons/empty.svg) no-repeat 50% 50%;
  mask: url(icons/empty.svg) no-repeat 50% 50%;
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: white;
}
 
.nav-icon-selected{
	background-color: rgba(42,44,53,1);
}

.hi-icon-effect-1a .hi-icon:hover .male,
.hi-icon-effect-1a .hi-icon:hover .female,
.hi-icon-effect-1a .hi-icon:hover .summer,
.hi-icon-effect-1a .hi-icon:hover .winter,
.hi-icon-effect-1a .hi-icon:hover .city,
.hi-icon-effect-1a .hi-icon:hover .empty-list {
	background-color: rgba(42,44,53,1);
}

.h-ruler{
	width: 80%;
	height: 2px;
	background-color: gray;
	margin-right: auto;
	margin-left: auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

