<!-- gender.html -->
<div class="site-wrapper">
	<div class="site-wrapper-inner">
		<div class="cover-container">

			<div class="masthead clearfix">
				<div class="inner">
					<a href="#"><h1 class="masthead-brand awesome-nav"><i class="icon ion-social-buffer"></i><span class="thin"> Awesome Packlists</span></h1></a>
				</div>
			</div>

			<div class="inner settings-cover">

				<div class="hi-icon-wrap hi-icon-effect-1 hi-icon-effect-1a">

					<!-- MALE -->
					<div class="hi-icon" ng-class="{'nav-btn-selected': isMale==true}" ng-click="isMale=true">
						<div class="nav-icon male" ng-class="{'nav-icon-selected': isMale==true}" alt=""></div>
					</div>

					<!-- FEMALE -->
					<div class="hi-icon" ng-class="{'nav-btn-selected': isMale==false}" ng-click="isMale=false">
						<div class="nav-icon female" ng-class="{'nav-icon-selected': isMale==false}" alt=""></div>
					</div>

					<div class="h-ruler"></div>

					<!-- SUMMER -->
					<div class="hi-icon" ng-class="{'nav-btn-selected': vacation=='summer'}" ng-click="vacation='summer'">
						<div class="nav-icon summer" ng-class="{'nav-icon-selected': vacation=='summer'}" alt=""></div>
					</div>

					<!-- WINTER -->
					<div class="hi-icon" ng-class="{'nav-btn-selected': vacation=='winter'}" ng-click="vacation='winter'">
						<div class="nav-icon winter" ng-class="{'nav-icon-selected': vacation=='winter'}" alt=""></div>
					</div>

					<!-- CITY -->
					<div class="hi-icon" ng-class="{'nav-btn-selected': vacation=='city'}" ng-click="vacation='city'">
						<div class="nav-icon city" ng-class="{'nav-icon-selected': vacation=='city'}" alt=""></div>
					</div>

					<!-- EMPTY -->
					<div class="hi-icon" ng-class="{'nav-btn-selected': vacation=='empty'}" ng-click="vacation='empty'">
						<div class="nav-icon empty-list" ng-class="{'nav-icon-selected': vacation=='empty'}" alt=""></div>
					</div>

				</div>

				<a href="#/packlists/{{vacation}}" class="btn btn-lg btn-default">Generate Packlist</a>

			</div>

			<div class="mastfoot">
				<div class="inner footer">
					<p>Cover template for <a href="http://getbootstrap.com">Bootstrap</a>, by <a href="https://twitter.com/mdo">@mdo</a>.</p>
				</div>
			</div>

		</div>
	</div>
</div>



